html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
  //margin-top: 5%;
}

#canvas-container {
   width: 100%;
   text-align:center;
}

body {
  background-color: black
}

